<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Lista 
        Ciudades</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <a href="">
      <ion-card>
        <ion-card-content>
          hola
        </ion-card-content>
      </ion-card>
    </a>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="banner text-white">
      <div class="p-5 text-white fw-bold text-center">
          <h1 class="title"> Hotel Testla </h1>
      </div>
    </div>
    <section class="container-fluid my-5" id="home">

      <div class="row"> 
          <h2 class="my-2 subtitle"> Hotel Tesla </h2> 
          <h4 class="my-3"></h4>
      </div>
      <div class="row">
          <a  href="" class="col-12 col-md-6"><img src="../../assets/img/banner.jpg" class="img-fluid w-100 h-100 shadow zoom"></a>
          <a  href="" class="col-12 col-md-6"><img src="../../assets/img/banner.jpg" class="img-fluid w-100 h-100 shadow zoom"></a>
      </div>
      <div class="row mt-3">
          <a href="" class="col-12 col-md-6"><img src="../../assets/img/banner.jpg" class="img-fluid w-100 h-100 shadow zoom"></a>
          <a href="" class="col-12 col-md-6"><img src="../../assets/img/banner.jpg" class="img-fluid w-100 h-100 shadow zoom"></a>
      </div>
      <div class="row mt-3">
        <a href="" class="col-12 col-md-6"><img src="../../assets/img/banner.jpg" class="img-fluid w-100 h-100 shadow zoom"></a>
        <a href="" class="col-12 col-md-6"><img src="../../assets/img/banner.jpg" class="img-fluid w-100 h-100 shadow zoom"></a>
      </div>

    </section>
    <footer class="p-5 container-fluid bg-dark text-white fw-bold" id="footer">
      <div class="row">
          <div class="col-12 col-md-3 text-end">
              <h3> Hotel Testla</h3>
          </div>
          <div class="col-12 col-md-6 text-end align-self-center">
              <h3> Ven a visitarnos, lo disfrutarás desde el primer día.</h3>
              <a href="">
                  <ion-icon name="logo-instagram" class="fs-1 text-white me-2"></ion-icon>
              </a>
              <a href="">
                <ion-icon name="logo-whatsapp" class="fs-1 text-white me-2"></ion-icon>
              </a>
              <a href="">
                  <ion-icon name="logo-facebook" class="fs-1 text-white me-2"></ion-icon>
              </a>
          </div>
      </div>
  </footer>
  </ion-content>
</div>

