<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Navegacion</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <a href="home/inicio" class="link">
      <ion-card>
        <ion-card-content>
          Inicio
        </ion-card-content>
      </ion-card>
    </a>
    <a href="home/SantaFe" class="link" >
      <ion-card>
        <ion-card-content>
          Santa Fe de Antioquia 
        </ion-card-content>
      </ion-card>
    </a>
    <a href="home/Caucacia" class="link">
      <ion-card>
        <ion-card-content>
          Caucacia
        </ion-card-content>
      </ion-card>
    </a>
    <a href="home/Belmira" class="link" >
      <ion-card>
        <ion-card-content>
          Belmira
        </ion-card-content>
      </ion-card>
    </a>
    <a href="home/Bello" class="link" >
      <ion-card>
        <ion-card-content>
          Bello
        </ion-card-content>
      </ion-card>
    </a>
    <a href="home/Caramanta" class="link" >
      <ion-card>
        <ion-card-content>
          Caramanta
        </ion-card-content>
      </ion-card>
    </a>
    <a href="home/Mallarino" class="link" >
      <ion-card>
        <ion-card-content>
          Mallarino
        </ion-card-content>
      </ion-card>
    </a>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
    <router-outlet></router-outlet> 
  </ion-content>
</div>

