<ion-content>
  <div class="banner"></div>
  <section class="container-fluid my-5">
    <div class="row">
        <div class="col-12 col-md-6  text-center align-self-center">
            <h2> Tablas de Santafe de Antioquia</h2>
            <iframe src="../../assets/view/tabla_santafe.html" class="w-100"height="500px"></iframe>
        </div>
        <div class="col-12 col-md-6">
            <div class="row"> 
              <h1 class="text-center">Analisis de Santa Fe de Antioquia </h1>
            </div>
            <div class="row">
                <div class="col-12 col-md-6"><img src="../../assets/img/graficaArbolesSantafe.svg" class="img-fluid w-100 h-100 shadow zoom"></div>
                <div class="col-12 col-md-6"><img src="../../assets/img/graficaHectariasSantafe.svg" class="img-fluid w-100 h-100 shadow zoom"></div>
            </div>
        </div>
  </div >
  </section>
  <section class="container-fluid my-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>Descripcion Santa Fe de Antioquia</h1>
            <p>Santa Fe de Antioquia es un encantador municipio ubicado en el departamento de Antioquia, en el noroeste de Colombia. Conocida como la "cuna de la colonización antioqueña", la ciudad fue fundada en 1541 y conserva gran parte de su arquitectura colonial española. Sus calles empedradas, casas de colores vibrantes y balcones adornados con flores le dan un encanto histórico.
                La ciudad está situada en un valle rodeado por montañas y atravesada por el río Cauca, ofreciendo paisajes impresionantes y oportunidades para practicar actividades al aire libre como el senderismo y la observación de aves. Santa Fe de Antioquia también es reconocida por su rica tradición cultural y artística, con festivales y eventos que resaltan la música, la danza y la gastronomía local.</p>
        </div>
        <div class="col-12 col-md-6">
            <h1>Mapa Santa Fe de Antioquia</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253687.44361840963!2d-76.05770476617984!3d6.5385626757397315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e45c7f203519c81%3A0x120c657dee28c835!2sSanta%20F%C3%A9%20de%20Antioquia%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1686169992520!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
  </section>
  <app-footer></app-footer>
</ion-content>