<footer class="p-5 container-fluid bg-dark text-white fw-bold" id="footer">
  <div class="row">
      <div class="col-12 col-md-3 text-end">
        <h1>Creadores:</h1>
          <a href="https://github.com/TDZ24" class="text-white"><h3>Thomas Zuluaga</h3></a>
          <a href="https://github.com/black-software100" class="text-white"><h3>Juan Torres</h3></a>
      </div>
      <div class="col-12 col-md-6 text-end align-self-center">
          <h3> Nuestra redes Sociales</h3>
          <a href="">
              <ion-icon name="logo-instagram" class="fs-1 text-white me-2"></ion-icon>
          </a>
          <a href="">
            <ion-icon name="logo-whatsapp" class="fs-1 text-white me-2"></ion-icon>
          </a>
          <a href="">
              <ion-icon name="logo-facebook" class="fs-1 text-white me-2"></ion-icon>
          </a>
      </div>
  </div>
</footer>