<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Ticket</th>
      <th>Nombre comun</th>
      <th>Fecha</th>
      <th>evento</th>
      <th>Ciudad</th>
      <th>Vereda</th>
      <th>Arboles</th>
      <th>Hectareas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>365</th>
      <td>725</td>
      <td>Quimulá</td>
      <td>01/13/2021 12:00:00 AM</td>
      <td>SIEMBRA ARBOLES CONVENIO INTERADMINISTRATIVO 040–COV2009–92 POZOS SEPTICOS</td>
      <td>Belmira</td>
      <td>La Salazar</td>
      <td>6</td>
      <td>0.012</td>
    </tr>
    <tr>
      <th>366</th>
      <td>726</td>
      <td>Quimulá</td>
      <td>01/13/2021 12:00:00 AM</td>
      <td>SIEMBRA ARBOLES CONVENIO INTERADMINISTRATIVO 040–COV2009–92 POZOS SEPTICOS</td>
      <td>Belmira</td>
      <td>La Salazar</td>
      <td>6</td>
      <td>0.012</td>
    </tr>
  </tbody>
</table>